@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700,bold,bolditalic');

body {
    min-height:100%;
    padding:0;
    margin:0;
    position:relative;
    font-family: 'Roboto';
}

body::after {
    content:'';
    display:block;
    height:100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    overflow: auto;
}

.service-margin {
    margin-top: 55px;
}

.icon-left {
    padding-left: 97px;
    /*margin: 0 auto;*/
    /*text-align: center;*/
}

@media screen and (min-width: 769px){
    .icon-left {
        float: left;
        height: 80px !important;
        padding-left: 0;
    }
}

.service-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #B2B3B4;
    height: 10%;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 35px;
}
.icon-left-service {
    padding-left: 170px;
}
@media screen and (min-width: 769px){
    .icon-left-service {
        float: left;
        height: 80px !important;
        padding-left: 0;
    }
}

@media screen and (min-width: 769px) {
    .service-text {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #B2B3B4;
        height: 10%;
        text-align: justify;
        padding-left: 100px;
        padding-top: 35px;
        margin-right: 10px;
    }
}
footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #B2B3B4;
    height: 0;
}

.service-title{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #B2B3B4;
    height: 0;
    text-align: center;
    padding-left: 0px;
}

@media screen and (min-width: 769px) {
    .service-title{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #B2B3B4;
        height: 0;
        text-align: justify;
        padding-left: 100px;
    }
}

@media (max-width: 500px) {
    .main-nav .sublogo {
        font-family: 'Roboto', sans-serif;
        color: #070606;
        font-size: 20px;
        font-weight: 100;
        margin-top: 50px;
    }
    .portfolio-list {
        margin-top: 35px;
    }
    .owl-nome .item {
        height: 100px !important;
    }

    .title-center {
        margin-top: 60px;
    }
}

.header-menu {
    display: -webkit-flex;
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
}

.main-nav {
    list-style-type: none;
    align-items: center;
    margin-right: 8%;
}

.main-nav li:first-child {
    margin-right: auto;
}

.main-nav a {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    color: #B2B3B4;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.main-nav a:hover {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .8);
}

.header-menu .logo {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 32px;
    font-weight: bold;
    height: 0;
}

.header-menu .logo:hover {
    background-color: transparent;
}

.header-menu .sublogo {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #070606;
    font-size: 20px;
    font-weight: 100;
}

.header-menu .sublogo:hover {
    background-color: transparent;
}

.portfolio {
    height: auto;
    background-color: rgba(0,0,0,0.8);
    white-space: nowrap;
    margin-top: 50px;
    /*position: relative;*/
}

@media screen and (min-width: 769px) {
    .portfolio {
        height: auto;
        background-color: rgba(0,0,0,0.8);
        white-space: nowrap;
        position: relative;
    }
}

.portfolio-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.about {
    height: auto;
    margin-top: 50px;
    /*position: relative;*/
}

p.about {
    font-family: 'Roboto', sans-serif;
    color: #B2B3B4;
    text-align: justify;
    padding-top: 50px;
    margin: 0 auto;
    width: 66.66667%; 
}

p.career {
    font-family: 'Roboto', sans-serif;
    color: #B2B3B4;
    font-size: 14px;
    text-align: justify;
}

p.career-left-text {
    font-family: 'Roboto', sans-serif;
    color: #B2B3B4;
    font-size: 14px;
    text-align: justify;
}


footer{ 
  position:absolute; 
  bottom:0; 
  width:100%; 
  height:100px; 
}

.title-center { 
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #B2B3B4;
    height: 0;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
}

.title-right { 
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #B2B3B4;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width: 769px) {
    .title-right {
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        color: #B2B3B4;
        height: 0;
        text-transform: uppercase;
        text-align: left;
        padding-left: 90px;
    }
}



.title-left {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #B2B3B4;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width: 769px) {
    .title-left {
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        color: #B2B3B4;
        height: 0;
        text-transform: uppercase;
        text-align: left;
        padding-left: 90px;
    }
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    margin-top: 3.5%;
    -webkit-transform: translate3d(0,0,0);
}

.owl-nome .item{
  background:#f1f1f1;
  text-align:center;
}

.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.owl-nome .owl-dots{
  margin-top:50px;
}

.owl-nome .owl-nav [class*=owl-] {
    color: red;
    font-size: 54px;
    margin: 5px;
    padding: 4px 7px;
    background: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-nome .owl-nav [class*=owl-]:hover {
    color: blue;
    background: none;
}

.owl-nome .owl-dots .owl-dot span {
    width: 50px;
    height: 5px;
    margin: 5px 7px;
    background: blue;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-nome .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: red;
}

.owl-nome .owl-nav {
    position: absolute;
    width: 100%;
    top: 26%;
    background:blue;
    height:0px;
}

.owl-nome .owl-next{
  position:absolute;
  background:blue;
  right:1%;
}

.owl-nome .owl-prev{
  position:absolute;
  background:blue;
  left:1%;
}

.service {
    margin-top: 3.5%;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.img-circle {
  border-radius: 50%;
}

.career { 
    margin-top: 3.5%;
}

.career-right {
    margin-top: 30px;
}

@media screen and (min-width: 769px){
    .career-right {
        margin-top: 0;
        border-right: 1px solid #95989A;
    }
}

.career-left {
    padding-left: 20px;
    margin-top: 30px;
}

@media screen and (min-width: 769px){
    .career-left {
        padding-left: 20px;
        margin-top: 150px;
    }
}

.career-icon-right {
    margin: 0 auto;
    height: 80px;
}

@media screen and (min-width: 769px){
    .career-icon-right {
        float: right;
        margin-right: 20px;
        height: 80px;
    }
}

p.career-right-text {
    margin-right: 15px;
    margin-left: 15px;
}

@media screen and (min-width: 769px){
    p.career-right-text {
        padding-right: 40px;
        padding-top: 30px;
    }
}

p.career-left-text {
    margin-right: 15px;
    margin-left: 15px;
}

@media screen and (min-width: 769px){
    p.career-left-text {
        padding: 50px 0 0 0;
    }
}

.nav {
    /*position: fixed;*/
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    z-index: 5555;
}

@media screen and (max-width: 768px) {

    .nav {
        background-color: #191919;
        position: fixed;
        margin-top: 0;
    }

    .nav--opened .nav__list {
        height: 100vh;
        opacity: 1;
        background-color: black;
        -webkit-transition: opacity 300ms ease-out;
        transition: opacity 300ms ease-out;
    }
    .nav--opened .nav__burger:before {
        -webkit-transform: translate3d(0, 6px, 0) rotate(-45deg);
        transform: translate3d(0, 6px, 0) rotate(-45deg);
    }
    .nav--opened .nav__burger:after {
        -webkit-transform: translate3d(0, -6px, 0) rotate(45deg);
        transform: translate3d(0, -6px, 0) rotate(45deg);
    }
}
.nav__container {
    padding: 0 15px;
}
@media screen and (min-width: 769px) {
    .nav__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin: 0 auto;
        height: 100%;
        max-width: 800px;
    }
}
.nav__title {
    float: left;
    margin: 0;
    height: 60px;
}
@media screen and (min-width: 769px) {
    .nav__title {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -ms-flex-item-align: start;
        align-self: flex-start;
        float: none;
        height: 100%;
    }

}
.nav__title-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    height: 100%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #eee;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.nav__title-link:hover {
    background-color: transparent;
    color: black;
}
@media screen and (min-width: 769px) {
    .nav__title-link {
        color: black;
    }
}

.nav__title-link--sub {
    display: block;
    padding-left: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #eee;
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    text-align: left;
}

.nav__list {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: 0;
    padding: 0;
    margin: 0;
    /*background-color: #191919;*/
    list-style: none;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: opacity 300ms ease-out, height 0ms linear 300ms;
    transition: opacity 300ms ease-out, height 0ms linear 300ms;
}
@media screen and (min-width: 769px) {
    .nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        opacity: 1;
    }
}
@media screen and (min-width: 769px) {
    .nav__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 60px;
    }
}
.nav__link {
    display: block;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    color: #B2B3B4;
    font-size: 14px;
    font-weight: bold;
}
@media screen and (min-width: 769px) {
    .nav__link {
        padding: 0 30px;
        -webkit-transition: color 150ms ease-out;
        transition: color 150ms ease-out;
    }
    .nav__item:hover {
        border-radius: 5px;
        background-color: rgba(0, 0, 0, .8);
    }
}
.nav__burger {
    float: right;
    position: relative;
    width: 60px;
    height: 60px;
}
.nav__burger:before, .nav__burger:after {
    content: '';
    position: absolute;
    left: 10px;
    width: 40px;
    height: 4px;
    background-color: #eee;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 275ms ease;
    transition: -webkit-transform 275ms ease;
    transition: transform 275ms ease;
    transition: transform 275ms ease, -webkit-transform 275ms ease;
}
.nav__burger:before {
    top: 22px;
}
.nav__burger:after {
    top: 34px;
}
@media screen and (min-width: 769px) {
    .nav__burger {
        display: none;
    }

    .nav__burger:before, .nav__burger:after {
        background-color: #070606;
    }
}


.blog {
    width: 30%;
    max-width: 24em;
    background: white;
    overflow-y: scroll;
    margin-right: 1em;
    float: right;
    -moz-box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.1);
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.blog-type div {
    color: white;
    background: black;
    display: inline-block;
    cursor: pointer;
    padding: 1em 0;
    width: calc(50% - 0.05px);
    text-align: center;
}
.blog-type div:hover {
    background: #1abc9c;
    color: white;
}
.blog-type div:last-child {
    margin-left: -3px;
}
.blog-type .active {
    background: white;
    color: black;
}

.recent-posts, .popular-posts {
    overflow-y: auto;
}

.post {
    padding: 1em;
    overflow: hidden;
    border-bottom: 1px dashed #ccc;
    cursor: pointer;
}
.post:hover {
    background: #f9f9f9;
}
.post:hover h1 {
    color: #1abc9c;
}
.post .post-meta {
    font-size: 0.7em;
    line-height: 2;
}
.post .post-meta div {
    display: inline-block;
}
.post .post-meta .category {
    font-style: italic;
    font-weight: lighter;
}
.post .post-meta .tag {
    color: #1abc9c;
    font-weight: bolder;
}
.post img {
    float: left;
    margin-right: 0.75em;
}
.post h1 {
    font-weight: bolder;
    font-size: 0.9em;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
    padding: 2em;
    background: white;
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}
.content h1 {
    font-weight: 800;
    margin-top: 1em;
    line-height: 2;
}
.content p {
    line-height: 1.8;
    margin: 1em 0;
    font-size: 0.9em;
    font-weight: 400;
}

@media screen and (max-width: 900px) {
    .blog img {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .blog {
        display: none;
    }
}